
add_library( offer_jsonball
   mm_ticks.cpp
   rc_params.cpp
   ${CMAKE_CURRENT_SOURCE_DIR}/include/offer/jsonball/jsonball.hpp
)

target_link_libraries( offer_jsonball fc )

target_include_directories( offer_jsonball PUBLIC "${CMAKE_CURRENT_SOURCE_DIR}/include" )

INSTALL( TARGETS
   offer_jsonball

   RUNTIME DESTINATION bin
   LIBRARY DESTINATION lib
   ARCHIVE DESTINATION lib
)
