
add_library( offer_plugins
   mf_plugins.cpp
   ${CMAKE_CURRENT_SOURCE_DIR}/include/offer/manifest/plugins.hpp
)

target_link_libraries( offer_plugins appbase fc
{% for plugin in plugins %}
   {{ plugin["plugin_project"] }}
{% endfor %}
)

target_include_directories( offer_plugins
   PUBLIC "${CMAKE_CURRENT_SOURCE_DIR}/include"
   )

INSTALL( TARGETS
   offer_plugins

   RUNTIME DESTINATION bin
   LIBRARY DESTINATION lib
   ARCHIVE DESTINATION lib
)
